[Unit]
Description=HA Satellite
Wants=network-online.target
After=network-online.target
Wants=2mic_leds.service
After=2mic_leds.service

[Service]
Type=simple

User=ha-sat
Group=ha-sat
SupplementaryGroups=audio

EnvironmentFile=-/etc/ha-satellite/satellite.env

# Defaults if env file missing
Environment=SAT_NAME=ha-satellite
Environment=SAT_URI=tcp://0.0.0.0:10700
Environment=SAT_EVENT_URI=tcp://127.0.0.1:10500
Environment=SAT_MIC_COMMAND=arecord -D plughw:seeed2micvoicec,0 -r 16000 -c 1 -f S16_LE -t raw
Environment=SAT_SND_COMMAND=aplay -D default -r 22050 -c 1 -f S16_LE -t raw


WorkingDirectory=/opt/wyoming-satellite

ExecStart=/bin/bash -lc '/opt/wyoming-satellite/script/run \
  --name "${SAT_NAME}" \
  --uri "${SAT_URI}" \
  --mic-command "${SAT_MIC_COMMAND}" \
  --snd-command "${SAT_SND_COMMAND}" \
  --event-uri "${SAT_EVENT_URI}"'

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
