SAT_HOSTNAME=ha-satellite

SAT_NAME=ha-satellite-0
SAT_URI=tcp://0.0.0.0:10700
SAT_EVENT_URI=tcp://127.0.0.1:10500

SAT_DEBUG=1

SAT_MIC_COMMAND=arecord -D plughw:CARD=seeed2micvoicec,DEV=0 -r 16000 -c 1 -f S16_LE -t raw
SAT_SND_COMMAND=aplay -D plughw:CARD=seeed2micvoicec,DEV=0 -r 22050 -c 1 -f S16_LE -t raw
