[Unit]
Description=Enroll HA Satellite firstboot unit
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash /boot/firstboot-enroll.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
